/.vscode
nnue-trainer/training_data_loader.dll
nnue-trainer/build/
nnue-trainer/logs
nnue-trainer/__pycache__/
latex/tex/kapitel/notes.txt
latex/tex/result/thesis.ilg
latex/tex/result/thesis.lol
latex/tex/literatur.bib.bak
latex/tex/literatur.bib.sav
latex/tex/indent.log
zugang.txt
nnue-trainer/libtraining_data_loader.so
